<html>
    <body bgcolor="red" text="yellow">
        <form action="./comp" method="get">
            <h1><u>STUDENT DETAILS</u></h1>
            <h2>Enter Student name: <label>
                <input type="text" name="t1" size="15"/>
            </label></h2>
            <h2>Enter Student roll no: <label>
                <input type="text" name="t2" size="15"/>
            </label></h2>
            <h2>Enter Student branch: <label>
                <input type="text" name="t3" size="15"/>
            </label></h2>
            <h2>Enter Student college: <label>
                <input type="text" name="t4" size="15"/>
            </label></h2>
            <h2>Enter Student maths: <label>
                <input type="text" name="t5" size="15"/>
            </label></h2>
            <h2>Enter Student physics: <label>
                <input type="text" name="t6" size="15"/>
            </label></h2>
            <h2>Enter Student chemistry: <label>
                <input type="text" name="t7" size="15"/>
            </label></h2>
            <input type="submit" value="SUBMIT">
            <input type="reset" value="CLEAR">
        </form>
    </body>
</html>