<html>
    <head>
        <style>
            body {
                background : red;
                color : yellow;
            }
            h1 {
                color : blue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Durgasoft Technologies, hyderabad</h1>
        <h2>
            <ul>
                <li>CURRENT DATE & TIME : {{ date }}</li>
                <li>CURRENT Day : {{ cur_day }}</li>
                <li>CURRENT Month : {{ cur_month }}</li>
                <li>CURRENT Year : {{ cur_year }}</li>
            </ul>
        </h2>
    </body>
</html>